@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sawarabi+Gothic&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*navbar*/
.container-fluid {
    width: 100%;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%; !important
}

/*.navbar-nav {
    margin: 0 !important; /* Ensure no extra margins */
.navbar-toggler{
   padding: 4px 12px;
}


/* Main styles */
main {
    padding: 40px 0;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

/* Login Container Styles */
.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

button {
    /*width: 100%;
    padding: 10px;*/
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

/*button:hover {
    background-color: #45a049;
}*/

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: separate; /* Change from collapse to separate */
    border-spacing: 0 10px; /* Set the horizontal and vertical spacing */
}

td {
    padding: 10px; /* Add padding inside each cell */
}

#title {
  font-family: "Righteous";
  font-weight: 400;
  font-style: normal;
}

#content {
  font-family: "Sawarabi Gothic";
  font-weight: 400;
  font-style: normal;
}

#center {
    text-align: center;
    margin-bottom: 50px;
}

.card-title {
    text-decoration: none;
}