{% extends 'base.html' %}
{% block body %}
<h1 id="center">Books from Library</h1>
<div class="container">
    <div class="container">
        <h1>Add a New Book</h1>
        <form method="POST" action="{{ url_for('add_book') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.types.label }}
                {{ form.types(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.authors.label }}
                {{ form.authors(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.abstract.label }}
                {{ form.abstract(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.languages.label }}
                {{ form.languages(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.createdDate.label }}
                {{ form.createdDate(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.cover_image_file.label }}
                {{ form.cover_image_file(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.cover_image_url.label }}
                {{ form.cover_image_url(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.subjects.label }}
                {{ form.subjects(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.isbns.label }}
                {{ form.isbns(class_='form-control') }}
            </div>

            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>

        <!-- Debug section to show form errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <h4>Form Errors:</h4>
            <ul>
                {% for field, errors in form.errors.items() %}
                    <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
