{% extends 'base.html' %}
{% block body %}
<div class="row mb-12">
    <div class="col-md-4 mb-8">
        <img src="{{ book.coverURL }}" alt="Cover Image" class="card-img-top" style="width:55%;margin-left: 150px;"/>
    </div>
    <div class="col-md-8 mb-8" style="margin-top: 50px;">
        <h1 id="title">{{ book.title }}</h1>
        <p id="content">{{ book.description }}</p>

        <!-- Borrow/Return Buttons -->
        {% if book.is_borrowed %}
            <!-- Display a message instead of the Borrow button -->
            <p class="text-danger">This book is currently not available for borrowing.</p>
        {% else %}
            <form action="{{ url_for('borrow_book', book_id=book.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  <!-- Include CSRF token -->
                <button type="submit" class="btn btn-primary">Borrow Book</button>
            </form>
        {% endif %}
    </div>
</div>

<div class="col-md-12 mb-12">
    <h1 class="review">Reviews</h1>
    <!-- put review.title -->
    <!-- put review.description -->
</div>
{% endblock %}