{% extends 'base.html' %}
{% block body %}
<h1 id="center">Books from Library</h1>
<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="col-md-3 mb-4">
            <a href="{{ book.url }}">
                <div class="card">
                    <img src="{{ book.coverURL }}" alt="Cover Image" class="card-img-top" style="width:100%;"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
