{% extends 'base.html' %}
{% block body %}
<h1 id="center">Books from Library</h1>

<!-- Search form with Reset button -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="GET" action="{{ url_for('search_books') }}" class="mb-4">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search for books by title" aria-label="Search for books" aria-describedby="button-search">
                    <button class="btn btn-primary" type="submit" id="button-search">Search</button>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary">Reset</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="col-md-3 mb-4">
            <a id="zz" href="{{ url_for('book_detail', book_id=book.id) }}">
                <div class="card" style="height: 600px;"> <!-- Set fixed height -->
                    {% if book.coverURL %}
                    {% if book.coverURL.startswith('http') %}
                        <!-- If the cover URL is an external link, display it directly -->
                        <img src="{{ book.coverURL }}" alt="Cover Image" class="card-img-top" style="height: 500px; object-fit: cover;">
                    {% else %}
                        <!-- If the cover URL is a local file, use url_for to construct the correct path -->
                        <img src="{{ url_for('static', filename=book.coverURL) }}" alt="Cover Image" class="card-img-top" style="height: 500px; object-fit: cover; ">
                    {% endif %}
                {% else %}
                    <!-- If there is no coverURL, display a placeholder image or leave the space empty -->
                    <img src="{{ url_for('static', filename='uploads/default-placeholder.png') }}" alt="No Cover Available" class="card-img-top" style="height: 500px; object-fit: cover;">
                {% endif %}
                
                             
                  <div class="card-body">
                        <h5 id="title" style="text-decoration:none;">{{ book.title }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Handle no results found -->
    {% if not books %}
    <p>No books found.</p>
    {% endif %}
</div>
{% endblock %}
